* {
	font-family: 'Courier New', Courier, monospace, sans-serif;
	font-size: 1em;
}
body {
	background-color: rgb(114, 114, 231);
	/* overflow: hidden; */
}
button {
	border: none;
	border-radius: 0px 10px 10px 0px;
}
input {
	border-radius: 10px 0px 0px 10px;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* width: 100vw;
	height: 100vh; */
}
.welcomeText {
	display: flex;
	justify-content: center;
	font-size: 1.5em;
}
.welcomeText,
#loginBtn {
	font-weight: 700;
}
.submit {
	display: flex;
	justify-content: center;
}
#loginInput {
	border: none;
	border-radius: 10px 0px 0px 10px;
}
#loginBtn {
	padding: 10px;
	margin-left: 10px;
}
.errorTag {
	display: flex;
	justify-content: center;
	color: rgb(245, 84, 84);
	font-weight: 600;
}

.errorPage {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#errorCode {
	font-size: 4em;
	font-weight: 900;
}

.hidden {
	visibility: hidden;
}
