* {
	font-family: 'Courier New', Courier, monospace, sans-serif;
	font-size: 1rem;
}
body {
	position: relative;
	background-color: rgb(114, 114, 231);
}
button {
}
input {
}
.main {
	display: flex;
	flex-direction: column;
}
.welcomeText {
	display: flex;
	justify-content: center;
	align-items: center;
}
.submit {
	display: flex;
	justify-content: center;
}
#loginInput {
	border: none;
	border-radius: 10px 0px 0px 10px;
}
#loginBtn {
	padding: 10px;
	margin-left: 10px;
	border: none;
	border-radius: 0px 10px 10px 0px;
}
